body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

/* Estilos gerais do cabeçalho */
/* Navbar */
.navbar {
  background-color: #010047;
  color: #FFF;
  position: relative;
  z-index: 2;
}

.navbar-nav .nav-link {
  color: #fff !important;
}

/* Logo */
.logo {
  width: 3.4rem;
}

/* Seção de contato */
.contact-section {
  padding: 60px 0;
  background-color: #fff;
}

.contact-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

/* Formulário de contato */
.contact-form {
  background-color: #f8f9fa;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}

.contact-form:hover {
  transform: translateY(-5px);
}

.contact-form label {
  font-size: 1rem;
  font-weight: 600;
  color: #555;
}

.contact-form input,
.contact-form textarea {
  border: 2px solid #dee2e6;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  transition: border-color 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #007bff;
}

.contact-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  transition: background-color 0.3s;
  width: 100%;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.contact-form button:hover {
  background-color: #0056b3;
}

/* Informações de contato */
.contact-info {
  margin-top: 40px;
  font-size: 1rem;
  color: #555;
  text-align: center;
}

.contact-info li {
  list-style: none;
  margin-bottom: 15px;
}

.contact-info i {
  color: #007bff;
  margin-right: 10px;
}

/* Redes sociais */
.social-icons a {
  color: #007bff;
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #0056b3;
}

/* Google Maps responsivo */
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-top: 40px;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Rodapé */
footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
