body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f8f9fa;
}

.navbar {
  background-color: #010047;
  color: #FFF;
}

.navbar-nav .nav-link {
  color: #fff !important;
}

.logo {
  width: 3.4rem;
}

.login-section {
  padding: 100px 0;
}

.login-form-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
}

.login-form .form-group {
  margin-bottom: 20px;
}

.login-form input {
  border: 2px solid #dee2e6;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  transition: border-color 0.3s;
}

.login-form input:focus {
  border-color: #007bff;
}

.login-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  transition: background-color 0.3s;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.login-form button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 40px;
}
